:root {
  --black: #535353;
  --yellow: #f8c242;
}

.footer-container {
  background-color: var(--yellow);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.icons {
  color: var(--black);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icons:hover {
  color: #c59f45;
}
